body {
    margin: 0;
    padding: 0;
    font-family:Georgia ;
 }
 
 header {
    background-color: #22668D;
    justify-content: space-between;
    display: flex;
    align-items: center; 
    padding: 10px;
    height: 60px;
 }
 
 .logo {
   display: flex; 
   align-items: center; 
   margin-right: 20px; 
 }
 
 .logo img {
    height: 100px; 
    width: 100px;
 }
 
 header ul {
    font-size: larger;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #22668D;
    height: 80px
 }
 
 header li {
    padding: 20px;
 }
 
 header a {
    text-decoration: none;
    color: #fff;
 }
 
 
 header a:hover { /*reference: https://www.w3schools.com/cssref/sel_hover.php*/
    color: #FFFADD;
 }
 
 .featured-photo{
    background-color: #FFFADD;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .featured-photo img {
    margin: 5%;
    margin-bottom: 0;
    max-width: 100%;
    height: 90%; 
    width: 90%;
 }

 .previous-project-title{
   background-color: #FFFADD;
   display: flex;
   justify-content: center;
   align-items:top;
   font-size: 50px;
   color: #333;
   
}
 
 .project{
   background-color: #FFFADD;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2%;
    
 }

.project-item {
   flex-wrap: wrap;
   text-align: center;
}

.project-item img {
   max-width: 100%;
   height: 80%;
   width:80%;
}

.project-item h4 {
   margin-top: 10px; 
   font-size: 15px;
   color: #333; 
}


.title {
   font-size: xx-large;
   display: flex; 
   flex-wrap: wrap;
   align-items: center;
   background-color: #FFFADD;
   justify-content: center;
}

.autobiography-item {
   flex: 1; 
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.autobiography-item p {
   display: flex;
   flex: 1;
   text-align: justify;
   font-size:medium;
   line-height: 1.5;
}

.skill-item {
   display: flex; 
   
   flex: 1; 
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.skill-title{
   flex-wrap: wrap;
   font-size: xx-large;
}

.skill-item img{
   height: 100px; 
   width: 100px;
}

.skill-item-list{
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
   justify-content: center;
}

.skill-item-list1 ul{
   background-color: #FFFADD;
   font-size: large;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


.skill-item-list li{
   padding: 15px;
}

footer {
   background-color: #22668D;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   align-items: center; /* Vertically align items */
   padding: 10px; /* Add padding for spacing */
}
.footer-content ul {
   list-style: none;
   padding: 0;
   margin: 0; /* Remove any margin to align the list items properly */
}

.footer-content li {
   color: #fff;
   font-size: x-small;
   margin: 5px 0; 
   padding: 0; 
   text-align:left;
}

footer a {
   text-decoration: none;
   color: #ff0000;
}

footer a:hover { /*reference: https://www.w3schools.com/cssref/sel_hover.php*/
   color: #f59999;
}



